/* ContactSection.css */
.contact-section {
    text-align: center;
    padding: 20px;
    background-color: #155ded;
  }
  
  .contact-title {
    font-size: 32px;
    font-weight: 700;
    color: #111827;
  }
  
  .contact-subtitle {
    font-size: 17px;
    color: #6b7280;
    margin-top: 10px;
  }
  
  /* Mobile responsive */
  @media (max-width: 600px) {
    .contact-title {
      font-size: 22px;
    }
    .contact-section {
        text-align: center;
        background-color: #29bfc2;
      }
    .contact-subtitle {
      font-size: 14px;
      color: #155ded;
      
    }
  }
  