.overallDiv{
    margin-left: 100px;
    margin-right: 100px;
  }
  .projectsView {
    width: 100%;
    max-width: 1440px; /* optional, for desktop limit */
    margin: 0 ;
    padding: 40px 20px;
  }
.summary{
    color: grey;
    margin-left: 28px;
}
.projectSummary{
    color: grey;

}
.NoofprojectsView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    padding: 30px;

    width: 100%;
    box-sizing: border-box;
  }
  
  .project-card {
    flex: 1;
    width: 280px;
    padding: 30px;
    border-radius: 10px;
    background-color: #111827;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .border-blue {
    border: 2px solid #3b82f6; /* blue-500 */
  }
  .border-green {
    border: 2px solid #10b981; /* green-500 */
  }
  .border-purple {
    border: 2px solid #a78bfa; /* purple-400 */
  }
  
  .project-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .btn1 {
    flex: 1;
    padding: 8px 12px;
   
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #a78bfa, #06b6d4);
    color: white;
    transition: background-color 0.3s;
    border-radius: 50px;
  }
  .btn2 {
    flex: 1;
    padding: 8px 12px;
    border: 2px solid #fff;
   
    cursor: pointer;
    
    color: white;
    transition: background-color 0.3s;
    border-radius: 50px;
  }
  
  .btn:hover {
    background-color: #374151;
  }
  .p1Image{
    margin-bottom: 5px;
  }