/* Prevent horizontal scroll / overflow */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.overallContainer {
  width: 100vw;
  overflow-x: hidden;
}
.tabView {
  width: 100vw;
}


.overallDiv {
  width: 100%;
  margin-top: 100px;
  background-color: #cba9a9;
}

@media (max-width: 600px) {
  .overallDiv {
    margin-top: 60px;
  }
}
